<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/addAccount" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <br>
                <legend>Add Account Details</legend>

                <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" class="form-control" name="Name" id="Name" placeholder="Name of Account Holder">
                </div>

                <div class="form-group">
                    <label for="email">Account Number</label>
                    <input type="number" class="form-control" name="Number" id="Number" placeholder="Account Number">
                </div>

                <div class="form-group">
                    <label for="pw">Amount</label>
                    <input type="number" class="form-control" name="Denomination" id="Denomination"
                        placeholder="Amount">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="default" id="default" value="1">
                </div>
                <button type="submit" class="btn btn-primary">Add Account</button>
                <a href="/" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
</div>