<section>
    <div class="container mt-4">
        {{!-- "/admin/addNewUser" --}}
        <form action="/admin/addNewUser" method="post" id="addUserForm" enctype="multipart/form-data">
            <div class="row">
                {{!-- enctype="multipart/form-data" --}}
                <div class="col-md-12 border ">
                    <br>
                    <div class="text-center heading">
                        <h3>ADD NEW USER</h3>
                        <button class="btn btn-success" id="submitBtn">ADD USER</button>
                    </div>

                    <br>
                    <div>
                        <div class="input-group ml-1">

                            <input class="form-control mr-2" type="text" name="FirstName" id="first_name"
                                placeholder="First Name" autocomplete="off">
                            <input class="form-control mr-2" type="text" name="LastName" id="last_name"
                                placeholder="Last Name" autocomplete="off">
                        </div>
                        <br>
                        <div class="input-group ml-1">
                            <input class="form-control mr-2" type="number" name="Mobile" id="mobile"
                                placeholder="Mobile" autocomplete="off">
                            <input class="form-control mr-2" type="password" name="Password" id="password"
                                placeholder="Password" autocomplete="off">
                        </div>
                        <br>
                        <div class="input-group ml-1">

                            <input class="form-control mr-2" type="email" name="Email" id="Email" placeholder="Email"
                                autocomplete="off">
                        </div>
                        <br>
                        <h3>Account Credentials</h3>
                        <br>
                        <input class="form-control " type="text" name="accUsername" id="accusername"
                            placeholder="Username" autocomplete="off">
                        <br>
                        <input class="form-control" type="password" name="accPassword" id="accpassword"
                            placeholder="Password" autocomplete="off">
                        <br>
                        <div class="input-group ">
                            <input type="file" class="form-control" name="accounts" id="inputFile" accept=".xls,.xlsx">
                        </div>
                        {{!-- <button type="submit" class="btn btn-success">ADD USER</button> --}}
                        <br>
                    </div>
                </div>
                <br>

            </div>
        </form>

        <div id="jsondata" style="display: none;"></div>
</section>
<style>
    .row {
        display: flex;
        justify-content: center;
    }

    .textbox {
        resize: none;
        width: 100%;
        height: 75%;
        border: 1px solid lightgray;
    }

    .heading {
        display: flex;
        justify-content: space-around;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>