
<section>
    <div class="container mt-5">
        <div>
            <h2 class="display-4 text-center">DOP Agent Automator (Admin Pannel)</h2>
        </div>
        <div class='home'>
        <a href="/admin/addNewUser" class="btn btn-primary mr-2">Add New User</a>
        <a href="/admin/viewAllUsers" class="btn btn-success ml-2">View All Users</a>
        </div>
    </div>
</section>
<style>
    .home{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
</style>