<div class="container mt-5">
    <section>
        <div class="col-md-4 m-auto border rounded" id="model"><br>
            <h2 class="text-center"  style="font-weight: normal;">ADMIN LOGIN</h2>
            <form action="/admin/login"  method="POST">
                <div class="form-group">
                    <input type="text" class="form-control shadow-none " name="ID" id="ID" aria-describedby="emailHelp"
                        placeholder="Enter ID">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control shadow-none " name="Password" id="Password" placeholder="Password">
                </div>
                <p class="error text-center text-danger font-weight-light ">{{Errmsg}}</p><br>
                <div class="text-center">
                    <button type="submit" class="btn btn-success ">LOGIN</button>
                </div>

            </form>
            <br><br>   
        </div>

    </section>
</div>
<style>
    form{
        align-items: center;
        margin-top: 60px;
    }
    .border{
         box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.5);
    }
    .form-control {
        border: 0;
        border-bottom: 1px solid red;
    }
    button{
        width: 100%;
    }
    #model{
        height:75vh;
        padding-top: 8vh;
    }
</style>