<section>
    <div class="container inlinr mt-3">
        <br>
        {{#if Errmsg}}
        <div class="alert alert-danger" role="alert">
           {{Errmsg}}
        </div>
        {{/if}}
        <br>
        <div class="row justify-content-between">

            <div class="col-md-4 ml-5 pCard border rounded "><br>
                <h4 class="text-center ">Change Account Password</h4>
                <br>
                <form action="/changeaccpass" method="POST">
                    <div class="form-group">
                        <label for="Cpass">Current Password</label>
                        <input type="password" class="form-control accountPassword" name="Cpass" id="ACpass" required>
                    </div>
                    <div class="form-group">
                        <label for="NPass">New Password</label>
                        <input type="password" class="form-control accountPassword" name="Npass" id="ANpass" required>
                    </div>
                    <div class="form-group">
                        <label for="CNpass">Confirm New Password</label>
                        <input type="password" class="form-control accountPassword" name="CNpass" id="ACNpass" required
                            onkeyup="passwordCheck('ANpass','ACNpass','CheckAccountPassword','accChange')">
                        <br>
                        <div class="registrationFormAlert text-center" style="color:red;" id="CheckAccountPassword">
                        </div>
                        <input type="checkbox" onclick="showPassword('ACpass','ANpass','ACNpass')"> Show Password
                        <br>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-2 text-center"id="accChange">Change Password</button>
                        </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 mr-5 pCard float-right border rounded "><br>
            <h4 class="text-center ">Change DOP_ID Password</h4>
            <br>
            <form action="/changedoppass" method="POST">
                <div class="form-group">
                    <label for="Cpass">Current Password</label>
                    <input type="password" class="form-control dopPassword" name="Cpass" id="DCpass" required>
                </div>
                <div class="form-group">
                    <label for="Npass">New Password</label>
                    <input type="password" class="form-control dopPassword" name="Npass" id="DNpass" required>
                </div>
                <div class="form-group">
                    <label for="CNpass">Confirm New Password</label>
                    <input type="password" class="form-control dopPassword" name="CNpass" id="DCNpass" required
                        onkeyup="passwordCheck('DNpass','DCNpass','CheckDOPPassword','dopChange')">
                    <br>
                    <div class="registrationFormAlert text-center" style="color:red;" id="CheckDOPPassword"></div>

                    <input type="checkbox" onclick="showPassword('DCpass','DNpass','DCNpass')"> Show Password
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-2 text-center" id="dopChange">Change
                            Password</button>
                    </div>
            </form>
        </div>


    </div>
</section>
<style>
    section{
    padding-top: 50px;

    }
    .border {
        box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.5);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .pCard{
        background-color: rgb(189, 216, 238);
    }
</style>