<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/deleteAccount" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Delete Account Details</legend>

                <div class="form-group">
                    <label for="email">Account Number</label>
                    <input type="number" class="form-control" name="Number" id="Number" placeholder="Account Number">
                </div>


                <button type="submit" class="btn btn-primary">Delete Account</button>
                <a href="/" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
</div>