<section>
    <div class="container">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th class="text-center" scope="col">Account Number</th>
      <th class="text-center" scope="col">Denomination</th>
    </tr>
  </thead>
  <tbody>
      {{#each accounts}}
    <tr>
      <td >{{this.Name}}</td>
      <td class="text-center">{{this.Number}}</td>
      <td class="text-center">{{this.Denomination}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>